createdAt: "2019-11-27T19:20:26.158Z"
updatedAt: "2020-01-03T09:58:06.946Z"
type: "MARKDOWN_NOTE"
folder: "f112f4ab178c7f7e4317"
title: "Reinforcement learning experiments"
tags: []
content: '''
  # Reinforcement learning experiments
  
  ## Atari wrapper
  
  
  most important points :
  - correct observation shape (96x96, 4 last frames, grayscale)
  - fire reset : some games require to push star button action = 1
  - frame skip : there is used 4 frames downsampling, with 4 times repeat the some action
  - reward clipping : reward is clipped into -1, 1 range
  - live lost reward : for live lost the reward is set to -1, and also the episodic life scheme is used for games with multiple lives
  
  ```python
  def Create(env, width = 96, height = 96, frame_stacking = 4):
      env = SetDimensions(env, width, height, frame_stacking)
      env = NoopResetEnv(env)
      env = FireResetEnv(env)
      env = SkipEnv(env, 4)
      env = ClipRewardEnv(env)
      env = LiveLostReward(env)
      env = ResizeFrameEnv(env)
      env = FrameStack(env)
      env = MakeTensorEnv(env)
  
      env.observation_space.shape = (env.shape[0], env.shape[1], env.shape[2])
  
      return env
  ```
  TODO
  
  ## deep Q network
  
  $$
  Q(s, a; \\theta') = R + \\gamma \\max_{a' \\in A} Q(s, a'; \\theta)
  $$
  
  where 
  $s$ is state (observation)
  $a$ is action
  $R$ is reward
  $Q(s, a)$ is state-action value
  $\\theta'$ is target network
  $\\theta$ is current network
  $\\gamma$ is discount factor from $(0, 1\\rangle$
  
  network is updated after n-frames
  
  the main Q values computing is done via experience replay buffer - to break out states correlations :
  
  first the methond for fill the data into buffer :
  
  ```python
  def add(self, observation, q_values, action, reward, done):
          self.buffer[self.ptr] = Transition(observation.copy(), q_values.copy(), action, reward, done)
          self.ptr = (self.ptr+1)%self.size
  ```
  
  after each n-th frame the random batch is computed (via Q learning equation) and filled into neural network with RMS loss
  
  the typical n = 4, and is called update_rate; and the good buffer size is from 8192 to 32768, depends on memory size
  
  following code is computing target Q values and creating random batches (typical size = 32) for 
  training the neural network
  
  ```python
  def get_random_batch(self, batch_size, device):
          
          observation_shape = self.buffer[0].observation.shape
          state_shape   = (batch_size, ) + observation_shape[0:]
          actions_count = len(self.buffer[0].q_values)
  
          q_values_shape = (batch_size, ) + (actions_count, )
  
          input   = torch.zeros(state_shape,  dtype=torch.float32).to(device)
          target  = torch.zeros(q_values_shape,  dtype=torch.float32).to(device)
   
          for i in range(0, batch_size):
              n      = numpy.random.randint(self.length() - 1)
  
              if self.buffer[n].done:
                  gamma_ = 0.0
              else: 
                  gamma_ = self.gamma
      
              q_values    = self.buffer[n].q_values.copy()
              action      = self.buffer[n].action
  
              q_values[action] = self.buffer[n].reward + gamma_*numpy.max(self.buffer[n+1].q_values)
              
              input[i]  = torch.from_numpy(self.buffer[n].observation).to(device)
              target[i] = torch.from_numpy(q_values).to(device)
  
          return input, target
  
  ```
  
  ### atari wrapper description
  TODO
  
  ### architecture
  
  input are 4 stacked frames, with size 96x96, grayscale
  4 convolutional layers, 1 FC 512 neurons and output layer
  
   - IN 96x96x4
   - convolution 3x3x32
   - max pooling 2x2
   - convolution 3x3x32
   - max pooling 2x2
   - convolution 3x3x64
   - max pooling 2x2
   - convolution 3x3x64
   - max pooling 2x2
   - FC 512
   - FCa
  
  hyperparameters :
   - learning rate 0.0001
   - minibatch size 32
   - gamma 0.99
   - update frequency every 4 frames
   - replay buffer 16384
   - exploration : linear decay from 1.0 downto 0.05, in 1 000 000 frames
   - total training frames 10 000 000
   - testing frames 1 000 000
'''
linesHighlighted: []
isStarred: false
isTrashed: false
